<h1>Editing omega</h1>

<% form_for(@omega) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @omega %> |
<%= link_to 'Back', omegas_path %>