<h1>Editing alpha</h1>

<% form_for(@alpha) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @alpha %> |
<%= link_to 'Back', alphas_path %>