<%#= print_breadcrumbs %>
<table>
	<tr>
		<th>Betas</th>
	</tr>
	<tr>
		<td>
<% unless @beta == nil %>
	<% for beta in @beta %>
		<%= beta.stringattr %><br>
		<%= beta.integerattr %><br>
		<%= beta.dateattr %><br>
		<%= beta.booleanattr %><br>
		<hr>
	<% end %>
<% end %>
</td>
</tr>
</table>